@model ViewItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Model.Nazwa</h4>

@{
    // Wyswietl komunikat o bledzie jesli wystapi
    if (Model.ErrorMessage != null)
    { <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div> }
    
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="Create" method="post">
            <input type="hidden" asp-for="@Model.Nazwa" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                int ktoryslownik = 0;
                for (int i = 0; i < Model.Naglowki.Count; i++)
                {
                    if (i == 0) // Ukryj reczne dodanie id
                    {
                        <input type="hidden" asp-for="@Model.Naglowki[i]" />
                        <input type="hidden" asp-for="@Model.Wartosci[i]" />
                    }
                    else
                    {
                        if (Model.Naglowki[i].Contains("Id")) // Jezeli klucz obcy
                        {
                            <label class="control-label">@Model.Naglowki[i]</label>
                            <input type="hidden" asp-for="@Model.Naglowki[i]" />
                            <select class="form-control" asp-for="@Model.Wartosci[i]">
                                @foreach (KeyValuePair<string, string> item2 in Model.ListaNazwKluczyObcych[ktoryslownik])
                                {
                                    <option value="@item2.Value">@item2.Key</option>}
                            </select>
                            ktoryslownik++;
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label">@Model.Naglowki[i]</label>
                                <input asp-for="@Model.Naglowki[i]" class="form-control" type="hidden" />
                                <input asp-for="@Model.Wartosci[i]" class="form-control" />
                            </div>
                        }
                    }
                }
            }
            <br />
            <button class="btn btn-success" type="submit" style="min-width: 100%">Stworz</button>
        </form>
    </div>
</div>

<br />
<a asp-controller="Admin" asp-action="Index" asp-route-co="@Model.Nazwa">Back to List</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
