@model ViewLista

@*IEnumerable<SGGWPZ.Models.Wykladowcy>*@

@{
    ViewData["Title"] = "View";
}

<h2>@Model.Nazwa</h2>

@{
    // Wyswietl komunikat o bledzie jesli wystapi
    if (Model.ErrorMessage != null) { <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div> }
}

<p>
    <a class="btn btn-success" asp-action="Create" asp-route-co="@Model.Nazwa">Create New</a>        
</p>
<table class="table table-hover">
    <thead>
        <tr>
            @{
                foreach (var item in Model.Naglowki)
                {
                    <th>
                        @item
                    </th>
                }
            }
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Obiekty) {
        <tr>
            @{ 
                foreach (var nag in Model.Naglowki)
                {
                    <td>
                        @item.GetType().GetProperty(nag).GetValue(item)
                    </td>
                }
            }
            <td>
                <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.GetType().GetProperties()[0].GetValue(item)" asp-route-co="@Model.Nazwa">Update</a>
                @*<a asp-action="Details" asp-route-id="@item.GetType().GetProperties()[0].GetValue(item)" asp-route-co="@Model.Nazwa">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GetType().GetProperties()[0].GetValue(item)" asp-route-co="@Model.Nazwa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
